{% extends "base_generic.html" %}
{% load static%}

{% block content %}
<!-- vitomek -->
<div class="vitomek">
	<div class="container">	
		<div class="vitomek-main">
			<div class="vitomek-logo">
				<img src="{% static 'images/Logo_vitomek.png' %}">
			</div>
		
			<div class="vitomek-items">
				
				<div class="vitomek-item">
					
						<div class="vitomek-item-photo">
							<img src="{% static 'images/Vitomek-PreMix-Pigs 2.png' %}">
						</div>
						
						<div class="vitomek-item-text">			
							<p>10 000 руб.</p>	
							<p>Премикс VITOMEK</p>
							<p>Свиноматки лактирующие (СК-1)</p>
							<p>10 кг</p>					
						</div>
										
				</div>
					
				<div class="vitomek-item-center">
						<div class="vitomek-item-photo">
							<img src="{% static 'images/Vitomek-PreMix-Ruminant 2.png' %}">
						</div>
						
						<div class="vitomek-item-text">
							<p>9 000 руб.</p>	
							<p>Премикс VITOMEK</p>
							<p>Откорм первого периода (СК-6)</p>
							<p>10 кг</p>
						</div>											
				</div>
					
				<div class="vitomek-item">
						<div class="vitomek-item-photo">
							<img src="{% static 'images/Vitomek-PreMix-Poultry 2.png' %}">
						</div>
						
						<div class="vitomek-item-text">
							<p>8 750 руб.</p>	
							<p>Премикс VITOMEK</p>
							<p>Гроуэр (СК-5)</p>
							<p>10 кг</p>		
						</div>										
				</div>
					
			</div>
		</div>	
	</div>
</div>	
<!-- vitomek -->

<!-- filter-premixes -->
<div class="filter-premixes">
	<div class="container">	
		<div class="sorting-premixes">
			<div class="sorting">
				<div class="category">
					<h3>Категория</h3>	
					<ul>
						<li>Птицеводство</li>
						<li>Свиноводство</li>
						<li>КРС</li>
						<li>Сырье</li>
					</ul>
				</div>
				
				<div class="type">
					<h3>Тип</h3>
					<div class="type-item">
						<div class="chek">
							<input type="checkbox">
						</div>
						<div class="chek-text">
							<p>Комбикорм</p>
						</div>
					</div>
					<div class="type-item">
						<div class="chek">
							<input type="checkbox">
						</div>
						<div class="chek-text">
							<p>Премикс</p>
						</div>
					</div>
					<div class="type-item">
						<div class="chek">
							<input type="checkbox">
						</div>
						<div class="chek-text">
							<p>БВМК</p>
						</div>
					</div>
				</div>
				
				<div class="look">
					<h3>Вид</h3>
					<div class="look-item">
						<div class="chek">
							<input type="checkbox">
						</div>
						<div class="chek-text">
							<p>Бройлер</p>
						</div>
					</div>
					<div class="look-item">
						<div class="chek">
							<input type="checkbox">
						</div>
						<div class="chek-text">
							<p>Курица-несушка</p>
						</div>
					</div>
					<div class="look-item">
						<div class="chek">
							<input type="checkbox">
						</div>
						<div class="chek-text">
							<p>Индюшка</p>
						</div>
					</div>
					<div class="look-item">
						<div class="chek">
							<input type="checkbox">
						</div>
						<div class="chek-text">
							<p>Утка</p>
						</div>
					</div>									
					<div class="look-item">
						<div class="chek">
							<input type="checkbox">
						</div>
						<div class="chek-text">
							<p>Перепел</p>
						</div>
					</div>					
				</div>
				
				<div class="price">
					<h3>Цена</h3>
					<div class="price-search">
						<div class="from">								
							<input type="text" class="search" placeholder="от">					
						</div>
						
						<div class="to">								
							<input type="text" class="search" placeholder="до">					
						</div>
					</div>
				</div>
				
				<div class="weight">
					<h3>Вес, кг</h3>
					<div class="price-search">
						<div class="from">								
							<input type="text" class="search" placeholder="от">					
						</div>
						
						<div class="to">								
							<input type="text" class="search" placeholder="до">					
						</div>
					</div>	
				</div>			
			</div>
			
			<div class="premixes">
				<div class="premixes-sort">
					<form>
						<p><select name="select" size="1">
							<option selected value="s1">Сначала дорогие</option>
							<option value="s2">Сначала дешевые</option>
							</select>
						 </p> 
					</form>			
				</div>	

				<div class="premixes-items">
				<div class="premixes-item-line">
					<div class="premixes-item">

						{% for premix in productpremix_list %}
						<div class="item-photo">
							<img src="{% static 'images/Vitomek-PreMix-Layers 1.png' %}">
						</div>
						
						<div class="item-text">
							<div class="item-p">
								<p>{{premix.price}} руб.</p>
								<a href="{% url 'product-detail' premix.id %}"><p>{{premix.name}}</p></a>
								<p>{{premix.weight}}</p>
							</div>
							
							<div class="item-basket">
								<img src="{% static 'images/Property 1=Variant2.png' %}">
							</div>
						</div>
						{% endfor %}
					</div>	
					
<!--					<div class="premixes-item-center">-->
<!--						<div class="item-photo">-->
<!--						<img src="{% static 'images/Vitomek-PreMix-Ruminant 1.png' %}">-->
<!--					</div>-->
<!--					-->
<!--					<div class="item-text">-->
<!--						<div class="item-p">-->
<!--							<p>9 000 руб.</p>	-->
<!--							<p>Премикс VITOMEK</p>-->
<!--							<p>Откорм первого периода (СК-6)</p>-->
<!--							<p>10 кг</p>-->
<!--						</div>-->
<!--						-->
<!--						<div class="item-basket">-->
<!--							<img src="{% static 'images/Property 1=Variant2.png' %}">-->
<!--						</div>-->
<!--					</div>		-->
<!--					</div>-->
<!--					-->
<!--					<div class="premixes-item">-->
<!--						<div class="item-photo">-->
<!--							<img src="{% static 'images/Vitomek-PreMix-Poultry 1.png' %}">-->
<!--						</div>-->
<!--					-->
<!--						<div class="item-text">-->
<!--							<div class="item-p">-->
<!--								<p>8 750 руб.</p>	-->
<!--								<p>Премикс VITOMEK</p>-->
<!--								<p>Гроуэр (СК-5)</p>-->
<!--								<p>10 кг</p>-->
<!--							</div>-->
<!--						-->
<!--						<div class="item-basket">-->
<!--							<img src="{% static 'images/Property 1=Variant2.png' %}">-->
<!--						</div>-->
<!--					</div>		-->
<!--					</div>-->
<!--				</div>	-->
<!--				-->
<!--				<div class="premixes-item-line">-->
<!--					<div class="premixes-item">-->
<!--						<div class="item-photo">-->
<!--							<img src="{% static 'images/Vitomek-PreMix-Pigs 1.png' %}">-->
<!--						</div>-->
<!--					-->
<!--						<div class="item-text">-->
<!--							<div class="item-p">-->
<!--								<p>10 000 руб.</p>	-->
<!--								<p>Премикс VITOMEK</p>-->
<!--								<p>Свиноматки лактирующие (СК-1)</p>-->
<!--								<p>10 кг</p>-->
<!--							</div>-->
<!--							-->
<!--							<div class="item-basket">-->
<!--								<img src="{% static 'images/Property 1=Variant2.png' %}">-->
<!--							</div>-->
<!--						</div>	-->
<!--					</div>-->
<!--					-->
<!--					<div class="premixes-item-center">-->
<!--						<div class="item-photo">-->
<!--							<img src="{% static 'images/Vitomek-green 1.png' %}">-->
<!--						</div>-->
<!--					-->
<!--						<div class="item-text">-->
<!--							<div class="item-p">-->
<!--								<p>10 000 руб.</p>	-->
<!--								<p>Премикс VITOMEK</p>-->
<!--								<p>Свиноматки лактирующие (СК-1)</p>-->
<!--								<p>10 кг</p>-->
<!--							</div>-->
<!--							-->
<!--							<div class="item-basket">-->
<!--								<img src="{% static 'images/Property 1=Variant2.png' %}">-->
<!--							</div>-->
<!--						</div>		-->
<!--					</div>-->
<!--					-->
<!--					<div class="premixes-item">-->
<!--						<div class="item-photo">-->
<!--							<img src="{% static 'images/Culf Yellow_PreStarter_06 1.png' %}">-->
<!--						</div>-->
<!--					-->
<!--						<div class="item-text">-->
<!--							<div class="item-p">-->
<!--								<p>10 000 руб.</p>	-->
<!--								<p>Премикс VITOMEK</p>-->
<!--								<p>Свиноматки лактирующие (СК-1)</p>-->
<!--								<p>10 кг</p>-->
<!--							</div>-->
<!--							-->
<!--							<div class="item-basket">-->
<!--								<img src="{% static 'images/Property 1=Variant2.png' %}">-->
<!--							</div>-->
<!--						</div>		-->
<!--					</div>-->
<!--				</div>	-->
				
<!--				<div class="premixes-item-line">-->
<!--					<div class="premixes-item">-->
<!--						<div class="item-photo">-->
<!--							<img src="{% static 'images/Culf Blue_Starter_06 1.png' %}">-->
<!--						</div>-->
<!--					-->
<!--						<div class="item-text">-->
<!--							<div class="item-p">-->
<!--								<p>10 000 руб.</p>	-->
<!--								<p>Премикс VITOMEK</p>-->
<!--								<p>Свиноматки лактирующие (СК-1)</p>-->
<!--								<p>10 кг</p>-->
<!--							</div>-->
<!--							-->
<!--							<div class="item-basket">-->
<!--								<img src="{% static 'images/Property 1=Variant2.png' %}">-->
<!--							</div>-->
<!--						</div>		-->
<!--					</div>-->
					
<!--					<div class="premixes-item-center">-->
<!--						<div class="item-photo">-->
<!--							<img src="{% static 'images/Vitomek-pink mal 1.png' %}">-->
<!--						</div>-->
<!--					-->
<!--						<div class="item-text">-->
<!--							<div class="item-p">-->
<!--								<p>10 000 руб.</p>	-->
<!--								<p>Премикс VITOMEK</p>-->
<!--								<p>Свиноматки лактирующие (СК-1)</p>-->
<!--								<p>10 кг</p>-->
<!--							</div>-->
<!--							-->
<!--							<div class="item-basket">-->
<!--								<img src="{% static 'images/Property 1=Variant2.png' %}">-->
<!--							</div>-->
<!--						</div>		-->
<!--					</div>-->
					
<!--					<div class="premixes-item">-->
<!--						<div class="item-photo">-->
<!--							<img src="{% static 'images/Vitomek-PreMix-Layers 1.png' %}">-->
<!--						</div>-->
<!--					-->
<!--						<div class="item-text">-->
<!--							<div class="item-p">-->
<!--								<p>10 000 руб.</p>	-->
<!--								<p>Премикс VITOMEK</p>-->
<!--								<p>Свиноматки лактирующие (СК-1)</p>-->
<!--								<p>10 кг</p>-->
<!--							</div>-->
<!--							-->
<!--							<div class="item-basket">-->
<!--								<img src="{% static 'images/Property 1=Variant2.png' %}">-->
<!--							</div>-->
<!--						</div>		-->
<!--					</div>-->
				</div>
				
				</div>	
				
			</div>
		</div>
	</div>
</div>	
<!-- filter-premixes -->

{% endblock %}