
{% extends "base_generic.html" %}
{% load static%}

{% block content %}

<!-- vitomek -->
<div class="vitomek">
	<div class="container">
		<div class="vitomek-main">
			<div class="vitomek-logo">
				<img src="{% static 'images/Logo_vitomek.png' %}">
			</div>

			<div class="vitomek-items">

				<div class="vitomek-item">

						<div class="vitomek-item-photo">
							<img src="{% static 'images/Vitomek-PreMix-Pigs 2.png' %}">
						</div>

						<div class="vitomek-item-text">
							<p>10 000 руб.</p>
							<p>Премикс VITOMEK</p>
							<p>Свиноматки лактирующие (СК-1)</p>
							<p>10 кг</p>
						</div>

				</div>

				<div class="vitomek-item-center">
						<div class="vitomek-item-photo">
							<img src="{% static 'images/Vitomek-PreMix-Ruminant 2.png' %}">
						</div>

						<div class="vitomek-item-text">
							<p>9 000 руб.</p>
							<p>Премикс VITOMEK</p>
							<p>Откорм первого периода (СК-6)</p>
							<p>10 кг</p>
						</div>
				</div>

				<div class="vitomek-item">
						<div class="vitomek-item-photo">
							<img src="{% static 'images/Vitomek-PreMix-Poultry 2.png' %}">
						</div>

						<div class="vitomek-item-text">
							<p>8 750 руб.</p>
							<p>Премикс VITOMEK</p>
							<p>Гроуэр (СК-5)</p>
							<p>10 кг</p>
						</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- vitomek -->


<!-- sk1 -->
<div class="sk1">
	<div class="container">	
		<div class="photo-characteristics">
			<div class="sk-photo">
				<img src="{{ productpremix.photo.url }}" alt="">
			</div>
			
			<div class="sk-characteristics">
				<h3>Наименование: {{ productpremix.name }}</h3>
				
				<div class="characteristics-items">
					<div class="characteristics-item">
						<p>Категория __________________________________<span>  {{ productpremix.category }} </span></p>
					</div>
					<div class="characteristics-item">
						<p>Тип _________________________________________<span>  {{ productpremix.type }}</span></p>
					</div>
					<div class="characteristics-item">
						<p>Вид _________________________________________<span>  {{ productpremix.animal }}</span></p>
					</div>
					<div class="characteristics-item">
						<p>Возраст животного _________________________<span>  {{ productpremix.age }}</span></p>
					</div>
					<div class="characteristics-item">
						<p>Процент ввода _____________________________<span>  {{ productpremix.input_percentage }}</span></p>
					</div>
					<div class="characteristics-item">
						<p>Вес в упаковке, кг __________________________<span>  {{ productpremix.weight }}</span></p>
					</div>
					<div class="characteristics-item">
						<p>Страна изготовитель _______________________<span>  {{ productpremix.country }}</span></p>
					</div>
				</div>
				
				<div class="items-price-btn">
					<div class="items-price">
						<p>{{ productpremix.price }} руб.</p>
					</div>
					
					<div class="price-btn">
						<a href="#">В корзину</a>
					</div>
				</div>
			</div>
		</div>	
		
		<div class="description">
			<h3>Описание</h3>
			<p>{{ productpremix.summary }}</p>
		</div>
		
		<div class="structure">
			<h3>Состав</h3>
			<p>{{ productpremix.compound }}</p>
		</div>
	</div>
</div>	
<!-- sk1 -->

{% endblock %}