/* Сброс/Reset */
h1,h2,h3,h4,h5,h6,div,body,p,ul,ol,li{
    padding: 0;
    margin: 0
}

ul,ol{
	list-style: none
}

body {
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
  background: #D7D9E1;
}


/* меню */
.container-menu{
	width: 100%;
	max-width: 1920px;
	height: 220px;
	background-image: linear-gradient(to right, #005624, #009C41);
	margin: 0 auto;
} 

.menu-main{
	display: flex;
	justify-content: center;
	padding-bottom: 17px
}

.menu-logo{
	padding: 25px 78px 0 78px;
}

.menu-search{
	padding-right: 65px;
	padding-top: 50px;
}

.menu-search input{
	width: 680px;
	height: 60px;
	background: #D7D9E1;
	border-radius: 16px;
	font-size: 40px;
	font: Open Sans;
}

.menu-icons{
	display: flex;
	padding-top: 50px;
}

.menu-icons p{
	font: Open Sans;
	font-weight: 400;
	font-size: 14px;
	line-height: 19.07px;
	color: #fff
}

.isolation{
	padding-right: 65px
}

.delivery{
	padding-right: 62px;
}

.isolation-img, .delivery-img, .shopping-img{
	text-align: center
}

.menu-down{
	display: flex;
	justify-content: center;
}

.menu-down a{
	color: #fff;
	text-decoration: none;
}

.down-item{
	width: 332px;
	height: 60px;
	border-radius: 16px
}

.down-item p{
	text-align: center;
	color: #fff;
	font: Open Sans;
	font-weight: 600;
	font-size: 24px;
	line-height: 32.68px;
	margin-top: 10px;
}

.gap-left{
	width: 275px;
	height: 60px;
	background: #D7D9E1;
	border-radius: 0 16px 0 0;
}

.gap{
	width: 16px;
	height: 60px;
	background: #D7D9E1;
	border-radius: 16px 16px 0 0;
}

.gap-right{
	width: 275px;
	height: 60px;
	background: #D7D9E1;
	border-radius: 16px 0 0 0;
}
/* меню */

.container{
	width: 100%;
	max-width: 1472px;
	margin: 0 auto;
}

/* портфолио */
.portfolio{
	padding-top: 40px;
}

.portfolio-items{
	display: flex;
	justify-content: center;
}

.portfolio-item-center{
	padding: 0 16px 0 16px;
}
/* портфолио */


/* слайд */
.slide{
	padding-top: 160px;
	padding-bottom: 92px
}

.slide .container{
	width: 1376px;
}

.slide-items{
	display: flex;
	justify-content: center;
}

.slick-prev, .slick-next{
	opacity: 0
}
/* слайд */


/* рекомендация */

.recommendation h2{
	font: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	padding-bottom: 14px
}

.recommendation-items{
	display: flex;
	justify-content: center;
}

.recommendation-items a{
	font: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	display: flex;
	padding-bottom: 10px;
	color: black;
	text-decoration: none
}

.recommendation-item-left{	
	background-color: white;
	border-radius: 16px;
	text-align: center;
	margin-right: 8px
}

.recommendation-item{
	background-color: white;
	border-radius: 16px;
	text-align: center;
	margin: 0 8px 0 8px;
}

.recommendation-item-right{
	margin-left: 8px;
	background-color: white;
	border-radius: 16px;
	text-align: center;
}

.item-photo{
	padding: 47px 81px 0 81px;
}

.item-text{
	padding: 10px 10px 10px 32px;
	display: flex;
	justify-content: space-between;
}

.item-text p{
	font: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	display: flex;
	padding-bottom: 10px
}

.item-basket img{
	padding-top: 45px
}

.btn-recommendation{
	padding-top: 32px;
	text-align: center;
	padding-bottom: 199px;
}

.btn-recommendation a{
	background: #F3DB00;
    color: #414141;
    text-align: center;
    padding: 7px 36px 10px 36px;
    text-decoration: none;
    font: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	border-radius: 8px;
}
/* рекомендация */


/* premixes */
/* vitomek */

.vitomek{
	padding: 40px 0 60px 0;
}

.vitomek .container{
	width: 1376px;
}

.vitomek-main{
	max-width: 1376px;
	height: 330px;
	background: white;
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.vitomek-logo{
	background: white;
	box-shadow: 4px 20px 50px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	padding: 55px 0 55px 0;
	margin-left: -32px
}

.vitomek-logo img{
	margin: 10px 20px;
}

.vitomek-items{
	display: flex;
	padding-right: 200px
}

.vitomek-item-center{
	padding: 0 100px;
}

.vitomek-item-text p{
	font: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	display: flex;
	padding-bottom: 5px
}
/* vitomek */

/* filter-premixes */

.filter-premixes{
	padding-bottom: 198px
}

.filter-premixes .container{
	width: 1376px;
}

.sorting-premixes{
	display: flex;
	justify-content: space-between;
}

.sorting{
	padding-top: 60px;
}

.category{
	padding-bottom: 24px
}

.category h3{
	padding-bottom: 16px;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
}

.category ul{
	margin-left: 20px
}

.category li{
	width: 120px;
	padding: 3px 0 4px 8px;
	border-radius: 4px;
}

.category li:hover{
	background: #F3DB00;
}

.type{
	padding-bottom: 24px
}

.type h3{
	padding-bottom: 16px;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
}

.type-item{
	display: flex;
	padding-bottom: 6px
}

.look{
	padding-bottom: 24px
}

.look h3{
	padding-bottom: 16px;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
}

.look-item{
	display: flex;
	padding-bottom: 6px
}

.chek input{
	width: 16px;
	height: 16px;
	margin: 4px 8px 0 0;
}

.price{
	padding-bottom: 24px
}

.price h3{
	padding-bottom: 16px;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
}

.price-search{
	display: flex;
	margin-left: 20px
}

.from{
	padding-right: 12px
}

.from input{
	width: 111px;
	height: 35px;
	border-radius: 8px;
	font-size: 16px;
	padding-left: 10px
}

.to input{
	width: 111px;
	height: 35px;
	border-radius: 8px;
	font-size: 16px;
	padding-left: 10px
}

.weight h3{
	padding-bottom: 16px;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
}

.premixes-sort{
	padding-bottom: 16px
}

.premixes-sort select{
	width: 332px;
	height: 44px;
	border-radius: 8px;
	font-size: 20px;
	padding-left: 15px
}

.premixes-item-line{
	display: flex;
}

.premixes-item{
	background-color: white;
	border-radius: 16px;
	text-align: center;
	margin-bottom: 16px;
}

.premixes-item-center{
	background-color: white;
	border-radius: 16px;
	margin: 0 16px 16px 16px;
}
/* filter-premixes */
/* premixes */


/* sk1 */
.sk1{
	padding-top: 60px
}

.sk1 .container{
	width: 1376px
}

.photo-characteristics{
	display: flex;
	padding-bottom: 50px
}

.sk-photo{
	background: white;
	padding: 102px 140px;
	border-radius: 16px;
	margin-right: 50px
}

.sk-characteristics h3{
	padding-bottom: 20px;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
}

.characteristics-items{
	padding-bottom: 20px
}

.characteristics-item{
	padding-bottom: 24px
}

.characteristics-item p{
	font-size: 16px;
	line-height: 22px;
}

.characteristics-item span{
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
}

.items-price-btn{
	display: flex;
}

.items-price p{
	font-weight: 700;
	font-size: 40px;
	line-height: 54px;
}

.items-price{
	padding-right: 50px
}

.price-btn{
	align-items: center;
	text-align: center;
	margin-top: 10px
}

.price-btn a{
	background: #009C41;
    color: #fff;
    text-align: center;
    padding: 18px 66px;
    text-decoration: none;
    font: Open Sans;
	font-style: normal;
	font-size: 22px;
	line-height: 33px;
	border-radius: 16px;
}

.description{
	width: 45%;
	padding-bottom: 27px
}

.description h3{
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	padding-bottom: 8px
}

.description p{
	font-size: 16px;
	line-height: 21.79px;
}

.structure{
	width: 45%;
	padding-bottom: 420px
}

.structure h3{
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	padding-bottom: 8px
}

.structure p{
	font-size: 16px;
	line-height: 21.79px;
}
/* sk1 */