{% extends "base_generic.html" %}
{% load static%}

{% block content %}

 <!-- портфолио -->
<div class="portfolio">
	<div class="container">
		<div class="portfolio-items">

			<div class="portfolio-item">
				<img src="{% static 'images/Rectangle 1870.png' %}">
			</div>

			<div class="portfolio-item-center">
				<img src="{% static 'images/Rectangle 1869.png' %}">
			</div>

			<div class="portfolio-item">
				<img src="{% static 'images/Rectangle 1871.png' %}">
			</div>

		</div>
	</div>
</div>


<!-- слайд -->
<div class="slide">
    <div class="container">
		<div class="slide-items">
			<div class="slide-item">
				<img src="{% static 'images/Rectangle 1872.png' %}">
			</div>

			<div class="slide-item">
				<img src="{% static 'images/Rectangle 1872.png' %}">
			</div>

			<div class="slide-item">
				<img src="{% static 'images/Rectangle 1872.png' %}">
			</div>

			<div class="slide-item">
				<img src="{% static 'images/Rectangle 1872.png' %}">
			</div>

			<div class="slide-item">
				<img src="{% static 'images/Rectangle 1872.png' %}">
			</div>
		</div>
    </div>
</div>
<!-- слайд -->


<!-- рекомендация -->
<div class="recommendation">
	<div class="container">
		<h2>FEED-MARKET рекомендует</h2>
			<div class="recommendation-items">

				<div class="recommendation-item-left">

					<div class="item-photo">
						<img src="{% static 'images/Vitomek-PreMix-Pigs 1.png' %}">
					</div>

					<div class="item-text">
						<div class="item-p">
							<p>10 000 руб.</p>
							<p>Премикс VITOMEK</p>
							<p>Свиноматки лактирующие (СК-1)</p>
							<p>10 кг</p>
						</div>

						<div class="item-basket">
							<img src="{% static 'images/Property 1=Variant2.png' %}">
						</div>
					</div>

				</div>
			</a>
				<div class="recommendation-item">
					<div class="item-photo">
						<img src="{% static 'images/Vitomek-PreMix-Layers 1.png' %}">
					</div>

					<div class="item-text">
						<div class="item-p">
							<p>10 500 руб.</p>
							<p>Премикс VITOMEK</p>
							<p>Престартер (СК-3)</p>
							<p>10 кг</p>
						</div>

						<div class="item-basket">
							<img src="{% static 'images/Property 1=Variant2.png' %}">
						</div>
					</div>
				</div>

				<div class="recommendation-item">
					<div class="item-photo">
						<img src="{% static 'images/Vitomek-PreMix-Ruminant 1.png' %}">
					</div>

					<div class="item-text">
						<div class="item-p">
							<p>9 000 руб.</p>
							<p>Премикс VITOMEK</p>
							<p>Откорм первого периода (СК-6)</p>
							<p>10 кг</p>
						</div>

						<div class="item-basket">
							<img src="{% static 'images/Property 1=Variant2.png' %}">
						</div>
					</div>
				</div>

				<div class="recommendation-item-right">
					<div class="item-photo">
						<img src="{% static 'images/Vitomek-PreMix-Poultry 1.png' %}">
					</div>

					<div class="item-text">
						<div class="item-p">
							<p>8 750 руб.</p>
							<p>Премикс VITOMEK</p>
							<p>Гроуэр (СК-5)</p>
							<p>10 кг</p>
						</div>

						<div class="item-basket">
							<img src="{% static 'images/Property 1=Variant2.png' %}">
						</div>
					</div>
				</div>

			</div>

			<div class="btn-recommendation">
					<a href="{% url 'premix-list' %}">Перейти</a>
			</div>
	</div>
</div>

{% endblock %}